*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


:root{
    --marrom-claro: #A07E56;
    --verde: #517923;
    --cinza-claro: #E8E5E5;
}

@media (min-width: 950px){

    .logo-centro-mobile{
        display: none;
    }

    #tela-cheia{
    
        display: flex;
        justify-content: space-between;


        .foto{
            display: flex;
           img{
                width: 50%;
                height: 100vh;
                position: fixed;
                display: block;
                object-fit: cover;
            }
    
    
        }
    
        .formulario{
    

            
    
            h2{
                color: rgba(0, 0, 0, 0.85);
                margin-bottom: 5px;
            }
    
    
    
            .conteudo-formulario{
                display: flex;
                align-items:start;
                flex-direction: column;
                margin: 5vh;
                padding-top: 25vh;
                width: 60vh;
            }
    
                .input{
                    
                    display: flex;
                    flex-direction: column;
                    width: 100%;
    
                    label{
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.75);
                    }
    
                    input{
    
                        background-color: var(--cinza-claro);
                        opacity: 86%;
                        border: none;
                        padding: 10px 15px 10px 15px ;
                        border-radius: 10px ;
                        margin: 5px 0 5px 0;
    
                    }
                    }
    
            }
    
            .botoes{
                display: flex;
                gap: 5%;
                .lembrei{
                    background-color: white;
                    border: 2px solid var(--verde);
                    opacity: 75%;
                    color: var(--verde);
                    padding: 15px;
                    width: 200px;
                    border-radius: 10px;
                    cursor: pointer;
                }
    
                .cadastrar{
                    background-color: var(--verde);
                    opacity: 75%;
                    color: white;
                    border: 2px solid var(--verde);
                    padding: 5px;
                    width: 200px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                
            }
    
        }
}

@media (max-width: 949px){

    .logo-centro-mobile{

        display: flex;
        justify-content: center;
        

        img{
        
        width: 80vh ;
        align-items: center;

    }
    }
            

    #tela-cheia{
    
        .foto{
            display: flex;
           img{
                width: 50%;
                height: 100vh;
                position: fixed;
                display: none;
                object-fit: cover;
            }
    
    
        }
    
        .formulario{
    
            display: flex;
            align-items: center;
            flex-direction: column;
            
    
            h2{
                color: rgba(0, 0, 0, 0.85);
                margin-bottom: 5px;
            }
    
    
    
            .conteudo-formulario{
                display: flex;
                align-items:start;
                flex-direction: column;
                margin: 5vh;
                padding: 0;
                width: 60vh;
            }
    
                .input{
                    
                    display: flex;
                    flex-direction: column;
                    width: 100%;
    
                    label{
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.75);
                    }
    
                    input{
    
                        background-color: var(--cinza-claro);
                        opacity: 86%;
                        border: none;
                        padding: 10px 15px 10px 15px ;
                        border-radius: 10px ;
                        margin: 5px 0 5px 0;
    
                    }
                    }
    
                    .esqueci-senha{
                        color: rgba(0, 0, 0, 0.75);
                        font-size: 16px;
                        font-weight: lighter;
                        cursor: pointer;
                        display: flex;
                       
                    }
    
            }
    
            .botoes{
                display: flex;
                gap: 5%;
                .lembrei{
                    background-color: white;
                    border: 2px solid var(--verde);
                    color: var(--verde);
                    padding: 15px;
                    width: 200px;
                    border-radius: 10px;
                    cursor: pointer;
                }
    
                .cadastrar{
                    background-color: var(--verde);
                    opacity: 75%;
                    color: white;
                    border: 2px solid var(--verde);
                    padding: 15px;
                    width: 200px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                
            }
    
        }
}