#logincontainer {
    background-image: linear-gradient(90deg, #045300, #73ff01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .error{
        width: 100%;
        color: red;
    }

    form {
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 40px;
        width: 40%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 30px 40px 40px 40px;

        input {
            height: 30px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background-color: white;
            border: 1px solid white;
            border-radius: 5px;
            margin-bottom: 15px;
            transition:transform 0.3s ease;
        }

        button {
            border-radius: 5px;
            height: 40px;
            width: 100%;
            border: 0px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);;
            margin-top: 10px;
            font-size: 14px;
            transition: color 0.3s ease, transform 0.3s ease;
        }

        p {
            font-size: 14px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        a {
            color: deepskyblue;
            float: right;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            transition: color 0.3s ease, transform 0.3s ease;
        }

        h1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: -5px;
        }

    }
}

#logincontainer form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: White;
}

#logincontainer form button:hover {
    color: rgb(0, 123, 255);
    transform: scale(1.1);
}

#logincontainer form a:hover {
    color: rgb(0, 123, 255);
    transform: scale(1.1);
}

#logincontainer form input:hover {
    transform: scale(1.1);
}

#logincontainer>h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition:transform 0.3s ease;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);;
}

#logincontainer>h1:hover {
    transform: scale(1.1);
}

html,
body {
    margin: 0;
}